.body {
  background-color: #d8572a;
  /* position: fixed; */
  padding: 0;
  margin: 0;
  height: 100vh;

}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  background-color: #d8572a;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbarList {
  list-style: none;
  display: flex;
}

.navbarList li {
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbarList li:hover {
  color: #ffffff;
  font-weight: bold; /* Brighten the hover effect and make text bold */
}

.dashboard {
  margin-top: 40px;
  min-height: 30vw;
}

.horizontalDashboard {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
  /* Hide the default scrollbar */
  scrollbar-width: none;
  /* Add some padding to create space for the custom scrollbar */
  padding-bottom: 10px;
}


.bookContainer {
  padding: 0 10px;
}

.book {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.book p {
  text-align: center;
}

.book:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.folderIcon {
  margin-right: 0.2rem;
}

.footer {
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #000000;
  font-weight: bold; /* Make the footer text bold */
  margin-top: 5rem;
}

.actionButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.createFolderButton, .uploadFileButton {
  background-color: #f1f1f1;
  border: 2px solid #d3d3d3;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.createFolderButton:hover, .uploadFileButton:hover {
  background-color: #d3d3d3;
  color: #000;
  transform: scale(1.05);
}